.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: initial;
  }
  h1 {
    color: #dc3545;
    font-size: 5em;
    margin-bottom: 30px !important;
  }
  p {
    color: #6c757d;
    font-size: 2em;
  }

  mat-icon{
    vertical-align: middle;
  }