body {
  background-color: rgb(184, 118, 118);
}

a:link,
a:visited {
  text-decoration: none;
}

.excerpt {
  margin-bottom: 10px;
  max-height: 4.6em;
  overflow: hidden;
}

.map {
  width: 100%;
  max-height: 100%;
  height: 800px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.table-responsive {
  height: 400px;
  width: 100%;
  overflow: auto;
}

.table th,
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px;
  font-size: 11px;
  padding-left: 5px;
}

.table td {
  padding-right: 5px;
  text-align: right;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #0e145f;
  color: white;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

mat-icon {
  vertical-align: middle;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: -10px;
  left: -50px;
  min-width: 150px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
  cursor: pointer;
}

.input-group-text-custom {
  width: 140px;
  /* Set your desired width */
  text-align: left;
  /* Optional: Center the text */
  display: inline-block;
  /* Ensure it behaves like an inline element */
  font-weight: bolder;
}

.text-wrap {
  white-space: normal;
  width: 100px;
  /* Adjust the width as needed */
  word-wrap: break-word;
}

.arrow {
  font-size: 15px;
  /* Adjust size as needed */
}

.text {
  font-size: 10px;
  color: gray;
}

.hover-row:hover {
  background-color: #f5f5f5;
  /* Change this to your desired hover color */
  // cursor: pointer; /* Optional: change cursor to pointer */
}

.container-preview {
  text-align: center;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0e5e5;
}

.small-button {
  padding: 4px 8px;
  font-size: 12px;
  min-width: 32px;
}

.small-button mat-icon {
  font-size: 16px;
}

.custom-spinner .mat-progress-spinner circle,
.custom-spinner .mat-spinner circle {
  stroke: #242484 !important;
  /* Replace with your desired color */
}
::ng-deep {
  ngb-modal-window {
    background: rgba(0, 0, 0, 0.5);
    .filter-modal {
      max-width: 480px;
      width: 100%;
      margin: 0 auto;
    }
  }

  mat-chip-listbox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    &.lines-ellipsis {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    [role="presentation"] {
      display: block !important;
    }

    &[style*="max-height: none"] {
      -webkit-line-clamp: initial;
      max-height: none !important;
    }

    mat-chip {
      margin-bottom: 8px;
    }

    .chip-row {
      display: contents;
    }
  }
  // #popup-content {
  //   p:last-child {
  //     margin-bottom: 0px;
  //   }
  // }
}

.filter-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.search-control {
  border-color: #6c757d;

  &::placeholder {
    font-size: 14px;
  }
}

.modal-body {
  button {
    background-color: white !important;
  }
}

.icon-clear-filter {
  cursor: pointer;
  margin: 0 4px;
}

.arrow-dropdown-icon {
  &.rotate-arrow {
    transform: rotate(180deg);
  }
}

.chip-outline.button-expand {
  border: none !important;
  outline: none !important;
  &:hover {
    background: unset !important;
    span {
      color: #3f51b5 !important;
    }
    mat-icon {
      color: #3f51b5 !important;
    }
  }
}

.depot-popup {
  bottom: 10px;
}

.button-add-filter {
  border-radius: 16px;
}

.button-expand {
  border-radius: 16px;
}


mat-card.mb-4 {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
 