body {
  background-color: rgb(184, 118, 118);
}
*{
  font-family: Kanit;
}

a:link, a:visited {
  text-decoration: none;

}

.excerpt {
  margin-bottom: 10px;
  max-height: 4.6em;
  overflow: hidden;
  
}