:host {
  width: 100%;
  margin-top: 30px;
}

.counter-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: auto;
  width: fit-content;

  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.counter-value {
  font-size: 40px;
  font-weight: 600;
  width: 80px;
}

.mat-button {
    background-color: rgb(12, 27, 235);
    color: #fff;
}
input {
    text-align: center;
    position: relative;
  }