#configuration {
  --sidebar-width: 300px;
  --toggle-btn-size: 32px;

  position: relative;

  mat-icon {
    color: black;
    position: relative;
    left: -3px;
  }

  .content {
    margin-left: 0;
    padding: 1rem;
    transition: margin-left 0.3s ease;
  }
}
