<div id="configuration" [class.open]="isSidebarOpen">
  <button class="toggle-btn" (click)="toggleSidebar()">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <nav class="sidebar">
    <div>
      <div class="sidebar-header">
        <mat-icon>settings</mat-icon>
        <h1>Configuration</h1>
      </div>

      <ul>
        <li><a routerLink="upload" routerLinkActive="active">Upload</a></li>
        <li><a routerLink="vehicle" routerLinkActive="active">Vehicle</a></li>
      </ul>
    </div>
  </nav>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
