#vehicle-dialog {
  &.is-loading {
    min-height: 450px;
  }

  .btn-add-license-plate {
    height: 58px;
    @media (max-width: 576px) {
      height: 36px;
    }
  }

  .modal-footer {
    @media (max-width: 576px) {
      .btn-action {
        padding: 0;
      }
    }
  }
}

::ng-deep .cdk-overlay-container {
  z-index: 2000 !important;
}


