<ng-container *transloco="let t; read: 'vehicle'">
  <div id="vehicle" class="p-3 mt-5 bg-white">
    <div class="text-right">
      <button mat-raised-button class="bg-custom-secondary" (click)="openVehicleModal()">
        <mat-icon>add</mat-icon>
        <span>New</span>
      </button>
    </div>

    <div class="table-container overflow-auto mt-4">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="licensePlate">
          <th mat-header-cell *matHeaderCellDef>{{ t("license_plate") }}</th>
          <td mat-cell *matCellDef="let v">{{ v.licensePlate }}</td>
        </ng-container>

        <ng-container matColumnDef="vehicleName">
          <th mat-header-cell *matHeaderCellDef>{{ t("vehicle_name") }}</th>
          <td mat-cell *matCellDef="let v">{{ v.vehicleName }}</td>
        </ng-container>

        <ng-container matColumnDef="vehicleType">
          <th mat-header-cell *matHeaderCellDef>{{ t("vehicle_type") }}</th>
          <td mat-cell *matCellDef="let v">{{ v.vehicleType.name }}</td>
        </ng-container>

        <ng-container matColumnDef="vehicleBrand">
          <th mat-header-cell *matHeaderCellDef>{{ t("vehicle_brand") }}</th>
          <td mat-cell *matCellDef="let v">{{ v.vehicleBrand }}</td>
        </ng-container>

        <ng-container matColumnDef="vehicleModel">
          <th mat-header-cell *matHeaderCellDef>{{ t("vehicle_model") }}</th>
          <td mat-cell *matCellDef="let v">{{ v.vehicleModel }}</td>
        </ng-container>

        <ng-container matColumnDef="vehicleWeight">
          <th mat-header-cell *matHeaderCellDef>{{ t("vehicle_weight") }}</th>
          <td mat-cell *matCellDef="let v">
            <span>{{ v.vehicleWeight }} </span>
            <span *ngIf="v.vehicleWeight">{{ "ton" | transloco }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="maxLoadWeight">
          <th mat-header-cell *matHeaderCellDef>{{ t("max_load_weight") }}</th>
          <td mat-cell *matCellDef="let v">
            <span>{{ v.maxLoadWeight }} </span>
            <span *ngIf="v.maxLoadWeight">{{ "ton" | transloco }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="cargoWidth">
          <th mat-header-cell *matHeaderCellDef>{{ t("cargo_width") }}</th>
          <td mat-cell *matCellDef="let v">
            <span>{{ v.cargoWidth }} </span>
            <span *ngIf="v.cargoWidth">{{ "cm" | transloco }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="cargoLength">
          <th mat-header-cell *matHeaderCellDef>{{ t("cargo_length") }}</th>
          <td mat-cell *matCellDef="let v">
            <span>{{ v.cargoLength }} </span>
            <span *ngIf="v.cargoLength">{{ "cm" | transloco }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="cargoHeight">
          <th mat-header-cell *matHeaderCellDef>{{ t("cargo_height") }}</th>
          <td mat-cell *matCellDef="let v">
            <span>{{ v.cargoHeight }} </span>
            <span *ngIf="v.cargoHeight">{{ "cm" | transloco }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="maxPalletCount">
          <th mat-header-cell *matHeaderCellDef>
            {{ t("max_pallet_count") }}
          </th>
          <td mat-cell *matCellDef="let v">{{ v.maxPalletCount }}</td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef>{{ "status" | transloco }}</th>
          <td mat-cell *matCellDef="let v">
            <mat-icon *ngIf="v.isActive" class="mat-success" ngbTooltip="true"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="!v.isActive" class="mat-warning" ngbTooltip="false"
              >cancel</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ t("actions") }}</th>
          <td mat-cell *matCellDef="let v">
            <button
              mat-icon-button
              (click)="openVehicleModal(v, 'view')"
              ngbTooltip="View Vehicle Details"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="openVehicleModal(v, 'edit')"
              ngbTooltip="Edit Vehicle"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteVehicle(v)"
              ngbTooltip="Delete Vehicle"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 40, 50]"
    ></mat-paginator>
  </div>
</ng-container>
