.align-right {
    text-align: right;
    margin: 4px;
}

.btn {
    border: none;
    cursor: pointer;
}
p {
    font-size: 16px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-title {
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
  }