/* You can add global styles to this file, and also import other style files */
@import "node_modules/ol/ol.css";

.main-wrapper {
    height: 100vh;
}

#map {
    width: 100%;
    max-height: 100%;
}

.mat-form-field-infix {

    width: 90px !important;
}

.cdk-overlay-container {
    z-index: 9997;
}

@import url('https://fonts.googleapis.com/css?family=Kanit');

body {
    font-family: Kanit;
    position: relative;
    height: auto !important;
    min-height: 100% !important;
}

* {
    font-family: Kanit;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

snack-bar-container.sucess {
    background: rgb(55, 143, 55);
    color: rgb(236, 240, 243);
}

body {
    background-color: rgb(235, 235, 235);
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #499426 !important;
    color: white;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #b4121a !important;
    color: white;
}

.qrcode-reader img {
    margin-left: 50px;
    border-radius: 4px !important;
    padding: 5px !important;
    width: 150px !important;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
    left: -1px;
}

.mat-tab-label {
    font-family: Kanit;
    justify-content: center;
}

.mat-tab-labels {
    justify-content: center;
}

.test-class>img {
    width: 210px;
    z-index: 999;
    position: relative;
}

@media screen {
    .push-right {
        #sidebar {
            left: 0 !important;
        }
    }
}

.material-icons {
    font-family: 'Material Icons' !important;
}