.map {
    width: 100%;
    height: 500px;
}
.center-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .custom-modal-align-right .modal-dialog {
    position: absolute;
    right: 10%;
    transform: translateY(-50%);
  }