::ng-deep .input-field-disabled {
  pointer-events: none !important;
  cursor: not-allowed !important;

  &.form-group-emob {
    pointer-events: none !important;
    cursor: not-allowed !important;
  }
}

.disabled-suffix {
  color: rgba(0, 0, 0, 0.38) !important;

  mat-icon {
    color: rgba(0, 0, 0, 0.38) !important;
  }
}

.password-toggle-button.disabled-suffix {
  color: rgba(0, 0, 0, 0.38) !important;
  cursor: not-allowed;

  &:hover {
    background-color: transparent !important;
  }
}

.mat-suffix.disabled-suffix {
  color: rgba(0, 0, 0, 0.38) !important;
}

:host ::ng-deep {
  .mat-form-field-disabled .mat-form-field-label,
  .mat-mdc-form-field.mat-form-field-disabled .mdc-floating-label {
    color: #374151 !important;
  }

  .mat-form-field-disabled .mat-form-field-required-marker,
  .mat-form-field-disabled .mdc-floating-label::after,
  .mat-mdc-form-field.mat-form-field-disabled .mdc-floating-label::after {
    display: none !important;
  }

  .mat-form-field-disabled.mat-form-field-required
    .mat-form-field-required-marker,
  .mat-mdc-form-field.mat-form-field-disabled.mat-form-field-required
    .mdc-floating-label::after {
    display: none !important;
  }

  .mat-form-field-disabled {
    mat-form-field, label {
      pointer-events: none !important;
    }
  }
}
