<div id="vehicle-type-dialog" class="modal-container">
  <h1 (click)="log()">log</h1>

  <form [formGroup]="form">
    <div class="form-grid">
      <div class="form-section">
        <div class="input-container">
          <h2 class="modal-title">
            {{ isEdit ? "Edit" : "Add" }} Vehicle Type
          </h2>
          <app-input-field
            placeholder="Name"
            [control]="form.controls.name"
            [required]="true"
            [disabled]="isView"
          ></app-input-field>
        </div>

        <div class="input-container">
          <label class="checkbox-group-label">Access Points</label>
          <div class="checkbox-grid access-points">
            <div
              class="checkbox-item"
              *ngFor="let option of accessPointOptions"
            >
              <mat-checkbox
                [checked]="isAccessPointChecked(option)"
                (change)="onAccessPointChange($event, option)"
                [disabled]="isView"
              >
                {{ option | titlecase }}
              </mat-checkbox>
            </div>
          </div>
          <mat-error
            *ngIf="
              form.get('access')?.hasError('minlength') &&
              form.get('access')?.touched
            "
          >
            Please select at least one access point.
          </mat-error>
        </div>

        <div class="input-container">
          <app-input-field
            placeholder="Capacity"
            type="number"
            [control]="form.controls.capacity"
            [disabled]="isView"
            [required]="true"
          ></app-input-field>
        </div>

        <div class="input-container">
          <app-dynamic-popover [placement]="'bottom-start'">
            <app-input-field
              popover-trigger
              placeholder="Start Time"
              [control]="form.controls.twEarly"
              [disabled]="isView"
            ></app-input-field>

            <div popover-content>
              <div class="card-body p-2">
                <p class="card-title">twEarly:</p>
                <ngb-timepicker
                  [(ngModel)]="twEarlyObject"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="onTimeValueChange('twEarly', $event)"
                ></ngb-timepicker>
              </div>
            </div>
          </app-dynamic-popover>
        </div>

        <div>
          <app-dynamic-popover [placement]="'bottom-start'">
            <app-input-field
              popover-trigger
              placeholder="End Time"
              [control]="form.controls.twLate"
              [disabled]="isView"
            ></app-input-field>

            <div popover-content>
              <div class="card-body p-2">
                <p class="card-title">twLate:</p>
                <ngb-timepicker
                  [(ngModel)]="twLateObject"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="onTimeValueChange('twLate', $event)"
                ></ngb-timepicker>
              </div>
            </div>
          </app-dynamic-popover>
        </div>
      </div>

      <div class="form-section">
        <div class="input-container">
          <label class="dimension-label"
            >Dimensions (Width x Height x Length)</label
          >
          <div class="dimension-grid">
            <app-input-field
              placeholder="Width"
              type="number"
              [control]="form.controls.width"
              [suffix]="'m'"
              [disabled]="isView"
              [required]="true"
            ></app-input-field>
            <app-input-field
              placeholder="Height"
              type="number"
              [control]="form.controls.height"
              [suffix]="'m'"
              [disabled]="isView"
              [required]="true"
            ></app-input-field>
            <app-input-field
              placeholder="Length"
              type="number"
              [control]="form.controls.length"
              [suffix]="'m'"
              [disabled]="isView"
              [required]="true"
            ></app-input-field>
          </div>
        </div>

        <div class="select-container">
          <app-input-select
            placeholder="Vehicle Profile Type"
            [options]="vehicleProfileTypeOptions"
            [control]="form.controls.vehicleProfileType"
            [disabled]="isView"
          >
          </app-input-select>
        </div>

        <div class="input-grid-cols-2">
          <app-input-field
            placeholder="Max Distance"
            type="number"
            [control]="form.controls.maxDistance"
            [suffix]="'km'"
            [disabled]="isView"
          ></app-input-field>
          <app-input-field
            placeholder="Max Duration"
            type="number"
            [control]="form.controls.maxDuration"
            [suffix]="'hr'"
            [disabled]="isView"
          ></app-input-field>
        </div>

        <div class="input-grid-cols-2">
          <app-input-field
            placeholder="Cost Per Distance"
            type="number"
            [control]="form.controls.unitDistanceCost"
            [decimal]="2"
            [disabled]="isView"
          ></app-input-field>
          <app-input-field
            placeholder="Cost Per Time Unit"
            type="number"
            [control]="form.controls.unitDurationCost"
            [decimal]="2"
            [disabled]="isView"
          ></app-input-field>
        </div>

        <div class="">
          <app-input-field
            placeholder="Fixed Cost"
            type="number"
            [control]="form.controls.fixedCost"
            [decimal]="2"
            [disabled]="isView"
          ></app-input-field>
        </div>
      </div>
    </div>
  </form>

  <!-- <app-dynamic-popover [placement]="'bottom-start'">
    <app-input-text
      popover-trigger
      placeholder="Start Time (e.g., 08:00)"
      [control]="form.controls.twEarly"
      [disabled]="isView"
    ></app-input-text>

    <div popover-content>
      <div class="card-body p-2">
        <p class="card-title">time_is:</p>
        <ngb-timepicker
          [ngModel]="twEarlyObject"
          (ngModelChange)="onValueChange($event)"
        />
      </div>
    </div>
  </app-dynamic-popover> -->

  <h1 (click)="logtimeString()">logtimeString</h1>

  <mat-dialog-actions align="end">
    <button mat-raised-button class="bg-custom-danger" (click)="cancel()">
      Cancel
    </button>
    <button *ngIf="!isView" mat-raised-button color="primary" (click)="save()">
      Save
    </button>
  </mat-dialog-actions>
</div>
