::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.6em 0px !important;
}
.navbar-toggler>.close {
    display: inline;
}

.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display: none;
}

.bg-alert {
    background: #e02316ec;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.btn-faceb {
    background: #3B5998;
    // border-radius: 50%;
    color: #fff;
    font-family: "Itim", cursive;
}

.btn-google {
    background: #dd4b39;
    // border-radius: 50%;
    color: #fff;
    font-family: "Itim", cursive;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.modal-header {
    border-bottom: none;
}

.container-inline {
    display: flex;
    flex-direction: column;
}

.container-inline>* {
    width: 100%;
}

.logo {
    font-size: 15px;
}

.dropdown-toggle-custom::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: none;
    border-right: none;
    border-bottom: 0;
    border-left: none;
}

.nav-item.active {
    transition: border-width 0.4s linear;
    border-bottom: solid 4px rgb(55, 28, 210);
}

.blue-backdrop.modal-backdrop {
    background-color: #5cb3fd;
    opacity: 1.0 !important;
}

.btn-facebook {
    background: #3B5998;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
}

.btn-line {
    background: #00C300;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
}

.dropdown-menu {
    width: 150px;
}

@media screen and (max-width: 992px) {
    .dropdown-menu {
        width: 100%;
    }
    a {
        font-family: Kanit;
        font-size: 15px;
    }
}

