<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-center font-weight-bold logo pl-lg-3 pr-lg-3 text-dark" [routerLink]="['/']">Banpu<br>E-mobility</a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="my-1 mx-2 close ">X</span>
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

          <li class="nav-item"  [class.active]="isActive('experiments')" (click)="setActive('experiments')">
              <a class="nav-link " [routerLink]="['/users/experiments']" routerLinkActive>Experiments</a>
          </li>
          <li class="nav-item" [class.active]="isActive('inventories')" (click)="setActive('inventories')">
              <a class="nav-link" [routerLink]="['/users/inventories']" routerLinkActive>Inventories</a>
          </li>
          <li class="nav-item" [class.active]="isActive('result')" (click)="setActive('result')">
              <a class="nav-link" [routerLink]="['/users/result']" routerLinkActive>Results</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons" >
          <li class="avatar dropdown">
              <button class="nav-link dropdown-toggle btn btn-light btn-block" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <ng-container >
                    
                        <b class="pr-2" *ngIf="userADprofile?.name">{{userADprofile?.name }}</b>
              <img src="assets/image/person.png" alt="avatarimage" class="rounded-circle z-depth-0" width="30" >
          </ng-container>
          
      </button>
              <div class="dropdown-menu dropdown-menu-right dropdown-secondary " aria-labelledby="navbarDropdown">
                  <button class="dropdown-item btn btn-block border-bottom" [routerLink]="['/users/profile']" [hidden]="true">
                    <i class="fa fa-user-circle"></i> Profile</button>
                  <button class="dropdown-item btn btn-block mt-2 border-bottom dropdown-toggle-custom"[hidden]="true" >
                      <i class="fa fa-envelope" ></i>Messages <span class=" pl-2 badge badge-danger rounded" ></span></button>
                  <button class="dropdown-item btn btn-block" (click)="logout()"><i class="fa fa-sign-out" ></i> Logout</button>
              </div>
          </li>
      </ul>
  </div>
</nav>