a:link,
a:visited {
  text-decoration: none;
}

.excerpt {
  margin-bottom: 10px;
  max-height: 4.6em;
  overflow: hidden;
}

.gray-button {
  background-color: gray;
  color: white;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.mat-expansion-panel-header {
  background-color: rgb(255, 252, 252);
}

.mat-expansion-panel p a,
.mat-expansion-panel p,
.template div a,
button.link {
  font-size: 15px;
  user-select: inherit;
  /* display: flex; */
  flex-direction: row;
  font-weight: 500;
}

.mat-expansion-panel p a,
button.link {
  border: none;
  border-bottom: 1px dashed rgb(21, 2, 231);
  background: none;
}

.mat-expansion-panel p a,
.mat-expansion-panel p,
.template div a,
button.link-verify {
  font-size: 15px;
  user-select: inherit;
  flex-direction: row;
  font-weight: 500;
}
button.link-verify {
  border: none;
  background: none;
}

.file-input {
  display: none;
}

.icon-browser {
  font-size: 20px;
}

.icon-upload {
  font-size: 50px;
  height: fit-content;
  width: fit-content;
  color: rgba(86, 87, 89, 0.726);
  display: inline-flex;
}

.dropzone {
  background-color: rgb(240, 242, 246);
  padding: 80px 0px;
  border-radius: 0.5rem;
}

.mat-mdc-button-base {
  margin: 5px 5px 5px 0;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.fab-success {
  background-color: green;
  color: white;
  min-width: 100px;
}

.fab-edit {
  background-color: #0c23f1 !important;
  color: white;
}

.fab-warning {
  background-color: #ffc107 !important;
  color: white;
  min-width: 100px;
}

.fab-danger {
  background-color: #dc3545 !important;
  color: white;
  min-width: 100px;
}

.fab-info {
  background-color: #ffffff !important;
  color: rgb(21, 20, 20);
  min-width: 100px;
}

.fab-visibility-off {
  background-color: gray;
  color: white;
  min-width: 100px;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: -10px;
  left: -50px;
  min-width: 280px;
}

.text-highlight {
  background-color: #f8d7da;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
  cursor: pointer;
}
table {
  width: 100%;
  max-width: 100%;
}

.text-highlight-verify {
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  padding: 0px 5px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  transition: 0.3s;
}

.text-highlight-uncertain {
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  padding: 0px 5px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  background-color: #fff3cd;
  transition: 0.3s;
}

.text-highlight-unverify {
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  padding: 0px 5px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  background-color: #f1aeb5;
  transition: 0.3s;
}
.text-highlight-edit {
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  padding: 0px 5px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  background-color: #cfe2ff;
  transition: 0.3s;
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role="img"] {
    width: 16px;
    height: 16px;
    font-size: 16px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 24px !important;
    height: 24px !important;
  }
}

.mat-column-No {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 50px !important;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-ORDERID_ORG {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 240px !important;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-AUMPHER {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 100px !important;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-PROVINCE {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 100px !important;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 5px;
}

.table-container {
  height: 400px;
  max-width: 100%;
  overflow: auto;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}

.address-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-right {
  margin-left: auto;
}

.table-responsive {
  height:200px;
  width: 100%;
  overflow: auto;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.table-order-data {
  td {
    place-content: center;
  }
}

.upload-submit-button {
  max-width: 80px;
  width: 100%;
}

mat-icon {
  vertical-align: middle;
}

::ng-deep mat-radio-button {
  .mdc-label {
    margin: 0;
  }
}
 
.license-plate-selection-count {
  margin-left: 44px;
}