<div class="card mt-2 container-fluid main_container"
  style="min-height: 100vh;">
  <ngx-spinner name="run">
    <p class="h-3">Wait a moment ...</p>
  </ngx-spinner>
  <div class="row mt-5 justify-content-center content">

    <div class="border-right mt-3"
      [ngClass]="preOrderFiles.length >0 ? 'col-md-7' : 'col-md-6 border-left'">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeNavId"
        class="nav-tabs justify-content-center">
        <li [ngbNavItem]="1">
          <button ngbNavLink><h3>Orders data</h3></button>
          <ng-template ngbNavContent>
            <div class="row card-body ">
              @if(validateExperiment &&
              validateExperiment.filters.order_data.invalid_coordinate.length >
              0 && isValidateShowMessage.OrderData.invalidCoordinate){
              <ngb-alert type="danger"
                (closed)="isValidateShowMessage.OrderData.invalidCoordinate = false">
                <strong>{{validateMessage.filtersMessage.orderData.invalidCoordinate.title}}
                </strong>
                {{validateMessage.filtersMessage.orderData.invalidCoordinate.message}}
              </ngb-alert>
              }
              @if(validateExperiment &&
              validateExperiment.warning.zero_weight.length > 0){
              <ngb-alert [dismissible]="false">
                <strong>{{validateMessage.warningMessage.zeroWeight.title}}
                </strong> {{validateMessage.warningMessage.zeroWeight.message }}<a
                  target="_blank" [routerLink]="['/users/inventories']"
                  class="text-primary link-underline-primary">direct to
                  inventory.</a>
              </ngb-alert>
              }
              <div class="col-md-12" *ngIf="isUpload">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Experiment
                      Name</span>
                  </div>
                  <input type="text" class="form-control"
                    [(ngModel)]="experiment.name">
                </div>
              </div>
              <div class="col-md-12 rounded-3 dropzone" DropZone
                (onFileDropped)="onFileSelected($event)"
                [hidden]="preOrderFiles.length > 0">
                <div class="row">

                  <div class="col-md-12 text-center">

                    <mat-icon class="icon-upload">upload_file</mat-icon>
                    <div class="col-md-12 text-center">
                      <span>Drag and drop file here</span>
                      <span><br>or</span>
                    </div>

                  </div>
                  <input type="file" class="file-input"
                    [accept]="requiredFileType"
                    (change)="onFileSelected($event)"
                    (click)="resetFileInput($event)"
                    #fileUpload>
                  <div class="col-md-12 text-center mt-2">
                    <button mat-stroked-button class="bg-custom-primary"
                      class="border-primary" (click)="fileUpload.click()">
                      <mat-icon class="icon-browser">attach_file</mat-icon>Browse
                      File</button>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  @if (preOrderFiles.length) {
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">File Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Type</th>
                        <th scope="col">#</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let file of preOrderFiles; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td
                          style="word-wrap: break-word;min-width: 160px;max-width: 400px;">{{file.name}}</td>
                        <td>{{file.size/1000000 | number : '1.2-2'}} MB</td>
                        <td>{{file.type | slice:0:10}}</td>
                        <td><button class="btn" (click)="deleteFileInList(i)"><mat-icon>delete</mat-icon></button></td>
                      </tr>
                      <tr class="text-center" *ngIf="preOrderFiles.length === 0">
                        <td colspan="4"><strong>No files are uploaded</strong></td>
                      </tr>
                    </tbody>
                  </table>
                  }
                </div>
              </div>

              <div class="row justify-content-md-center mb-2"
                [hidden]="preOrderFiles.length < 1">
                <div class="col-12">
                  <span>Total ({{preOrderCount}} Orders) :
                    @if (uploadDataGroupCustomers) {}
                    {{countUploadedCustomers}} Point </span>
                </div>
                <div class="col-12">
                  <button
                    *ngIf="uploadDataGroupCustomers?.verify?.customers!.length > 0"
                    mat-fab extended class="col-md-2"
                    [ngClass]="displayLocationType.verify ? 'fab-success' : 'fab-visibility-off'"
                    (click)="displayDataInTable(locationTypeEnum.Verify)">
                    <mat-icon>
                      @if (!displayLocationType.verify){
                      visibility_off
                      }@else{
                      location_on
                      }
                    </mat-icon>
                    ({{uploadDataGroupCustomers?.verify?.customers?.length ||
                    0}})<br> Verified
                  </button>
                  <button
                    *ngIf="uploadDataGroupCustomers?.uncertain?.customers!.length > 0"
                    mat-fab extended class=" col-md-2"
                    [ngClass]="displayLocationType.uncertain ? 'fab-warning' : 'fab-visibility-off'"
                    (click)="displayDataInTable(locationTypeEnum.Uncertain)">
                    <mat-icon>
                      @if (!displayLocationType.uncertain){
                      visibility_off
                      }@else{
                      not_listed_location
                      }
                    </mat-icon>
                    ({{uploadDataGroupCustomers?.uncertain?.customers?.length ||
                    0}})<br> Uncertain
                  </button>
                  <button
                    *ngIf="uploadDataGroupCustomers?.unverify?.customers!.length > 0"
                    mat-fab extended class=" col-md-2"
                    [ngClass]="displayLocationType.unverify ? 'fab-danger' : 'fab-visibility-off'"
                    (click)="displayDataInTable(locationTypeEnum.Unverify)">
                    <mat-icon>
                      @if (!displayLocationType.unverify){
                      visibility_off
                      }@else{
                      wrong_location
                      }</mat-icon>
                    ({{uploadDataGroupCustomers?.unverify?.customers?.length ||
                    0}})<br> Unverified
                  </button>
                  <button
                    *ngIf="uploadDataGroupCustomers?.edit?.customers!.length > 0"
                    mat-fab extended class=" col-md-2"
                    [ngClass]="displayLocationType.edit ? 'fab-edit' : 'fab-visibility-off'"
                    (click)="displayDataInTable(locationTypeEnum.Edit)">
                    <mat-icon>
                      @if (!displayLocationType.edit){
                      visibility_off
                      }@else{
                      edit_location_alt
                      }</mat-icon>
                    ({{uploadDataGroupCustomers?.edit?.customers?.length ||
                    0}})<br>Edited
                  </button>
                  <button class="col-md-2 link-verify link-success"
                    (click)="openCustomersListToVerify()"
                    *ngIf="uploadDataGroupCustomers?.unverify?.customers!.length > 0 || uploadDataGroupCustomers?.uncertain?.customers!.length > 0 ">
                    <mat-icon>add_task</mat-icon>
                    Verify All
                  </button>
                </div>
              </div>
              <mat-form-field [hidden]="preOrderFiles.length < 1">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)"
                  placeholder="Ex. ดินแดง" #input>
              </mat-form-field>
              <div class="table-container mat-elevation-z8"
                [hidden]="preOrderFiles.length < 1">
                <table mat-table [dataSource]="dataSource">

                  <ng-container matColumnDef="No">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <span> {{ i + 1 }}</span>
                    </td>
                  </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="ORDERID_ORG">
                    <th mat-header-cell *matHeaderCellDef> ORDERID ORG </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button class="small-icon-button"
                        [cdkCopyToClipboard]="element.name"
                        color="secondary">
                        <mat-icon>content_copy</mat-icon>
                      </button>
                      {{element.name}}

                    </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="ADDRESS">
                    <th mat-header-cell *matHeaderCellDef> ADDRESS </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="address-container">
                        <span>{{ element.original_address.address |
                          truncate:[70, '...'] }}</span>
                        <button class="btn btn-sm align-right"
                          *ngIf="isUnverified(element.name) || isUncertain(element.name)"
                          mat-button
                          [ngClass]="{
                            'btn-outline-warning': isUncertain(element.name),
                            'btn-outline-danger': isUnverified(element.name)
                          }">
                          Verify
                        </button>
                      </div>
                    </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="AUMPHER">
                    <th mat-header-cell *matHeaderCellDef> AUMPHER </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.original_address.district}}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="PROVINCE">
                    <th mat-header-cell *matHeaderCellDef> PROVINCE </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.original_address.province}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="TotalOrder">
                    <th mat-header-cell *matHeaderCellDef>ORDER</th>
                    <td mat-cell *matCellDef="let element">
                      {{countOrder(element.name)}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      {{countOrder(element.name)}}
                    </td>
                  </ng-container>

                  <tr mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                    class="example-element-row"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{
                    'text-highlight-verify': isVerified(row.name),
                    'text-highlight-uncertain': isUncertain(row.name),
                    'text-highlight-unverify': isUnverified(row.name),
                    'text-highlight-edit': isEdited(row.name)
                  }"
                    (click)="openCustomerOrderDetails(row)"></tr>

                </table>

                <mat-paginator [length]="dataSource.data.length" [pageSize]="29"
                  [pageSizeOptions]="[20, 50, 100,200]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements"
                  class="mat-paginator-sticky">
                </mat-paginator>
              </div>

              <div class="text-end mt-3" [hidden]="preOrderFiles.length < 1">
                <button mat-raised-button class="bg-custom-primary"
                  (click)="navigateToTab(2)">Next</button>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" [disabled]="!isUpload">
          <button ngbNavLink><h3>Parameters</h3></button>
          <ng-template ngbNavContent>
            <div style="min-height: 720px;">
              @if(validateExperiment &&
              validateExperiment.filters.constraints.over_distance.length >0 &&
              isValidateShowMessage.parameter.overDistance){
              <ngb-alert type="danger"
                (closed)="isValidateShowMessage.parameter.overDistance = false">
                <strong>{{validateMessage.filtersMessage.constraints.overDistance.title}}
                </strong>
                {{validateMessage.filtersMessage.constraints.overDistance.message}}
              </ngb-alert>
              }
              @if(validateExperiment &&
              validateExperiment.filters.constraints.over_weight.length > 0 &&
              isValidateShowMessage.parameter.overWeight){
              <ngb-alert type="danger"
                (closed)="isValidateShowMessage.parameter.overWeight = false">
                <strong>{{validateMessage.filtersMessage.constraints.overWeight.title}}
                </strong>
                {{validateMessage.filtersMessage.constraints.overWeight.message}}
              </ngb-alert>
              }
              <mat-accordion [multi]="true">
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Generals</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul class="list-unstyled">
                    <li>
                      <ul>
                        <li><p>Early delivery Time is
                            <ngx-popover [placement]="'bottom-start'">
                              <button class="link link-primary">
                                {{constraintsData.earlyDeliveryTime}}
                              </button>
                              <ng-template ngx-popover-template>
                                <div class="card p-3">
                                  <div class="card-body p-2">
                                    <p class="card-title">Time is: </p>
                                    <ngb-timepicker
                                      [(ngModel)]="constraintsData.earlyDeliveryTime" />
                                  </div>
                                  <div
                                    class="popover__controls d-flex justify-content-end mt-2">
                                    <button ngx-popover-close class="btn">Close</button>
                                  </div>
                                </div>
                              </ng-template>
                              <ngx-arrow padding="8" />
                            </ngx-popover>
                          </p></li>
                        <li><p>Back to depot time is
                            <ngx-popover [placement]="'bottom-start'">
                              <button class="link link-primary">
                                {{constraintsData.backToDepotTime}}
                              </button>
                              <ng-template ngx-popover-template>
                                <div class="card p-3">
                                  <div class="card-body p-2">
                                    <p class="card-title">Time is: </p>
                                    <ngb-timepicker
                                      [(ngModel)]="constraintsData.backToDepotTime" />
                                  </div>
                                  <div
                                    class="popover__controls d-flex justify-content-end mt-2">
                                    <button ngx-popover-close class="btn">Close</button>
                                  </div>
                                </div>
                              </ng-template>
                              <ngx-arrow padding="8" />
                            </ngx-popover>
                          </p></li>
                        <li><p>Maximum work duration is
                            <ngx-popover [placement]="'bottom-start'">
                              <button
                                class="link link-primary link-opacity-75-hover">
                                {{constraintsData.maximumWorkDuration |
                                timeFormat}}</button>
                              <ng-template ngx-popover-template>
                                <div class="card p-3">
                                  <div class="card-body p-2">
                                    <p class="card-title">Maximum work duration
                                      (0 -
                                      24 Hrs): </p>
                                    <ngb-timepicker
                                      [(ngModel)]="constraintsData.maximumWorkDuration" />
                                  </div>
                                  <div
                                    class="popover__controls d-flex justify-content-end mt-2">
                                    <button ngx-popover-close class="btn">Close</button>
                                  </div>
                                </div>
                              </ng-template>
                              <ngx-arrow padding="8" />
                            </ngx-popover>
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>

                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Vehicle</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul class="list-unstyled">
                    <li>
                      <ul>
                        <li>
                          <p>Number of vehicle available is set to
                            <ngx-popover [placement]="'bottom-start'">
                              <button
                                class="link link-primary link-opacity-75-hover">{{constraintsData.numberOfVehicleAvailable}}</button>
                              <ng-template ngx-popover-template>
                                <div class="card p-3">
                                  <div class="card-body p-2">
                                    <p class="card-title">Number of vehicle
                                      available: </p>
                                    <app-number-counter-input
                                      [(ngModel)]="constraintsData.numberOfVehicleAvailable"
                                      [maxValue]="175" [minValue]="0"></app-number-counter-input>
                                  </div>
                                  <div
                                    class="popover__controls d-flex justify-content-end mt-2">
                                    <button ngx-popover-close class="btn">Close</button>
                                  </div>
                                </div>
                              </ng-template>
                              <ngx-arrow padding="8" />
                            </ngx-popover>
                          </p>
                        </li>
                        <li
                          [ngClass]="{'text-highlight' : validateExperiment && validateExperiment.filters.constraints.over_weight.length > 0  }">
                          <p>Vehicle order-size capacity
                            is
                            <ngx-popover [placement]="'bottom-start'"><button
                                class="link link-primary link-opacity-75-hover">{{constraintsData.vehicleOrderSizeCapacity}}
                                KG.</button>
                              <ng-template ngx-popover-template>
                                <div class="card p-3">
                                  <div class="card-body p-2">
                                    <p class="card-title">Order-size capacity :
                                    </p>
                                    <app-number-counter-input
                                      [(ngModel)]="constraintsData.vehicleOrderSizeCapacity"
                                      [maxValue]="10000" [minValue]="0"
                                      [count]="100"></app-number-counter-input>
                                  </div>
                                  <div
                                    class="popover__controls d-flex justify-content-end mt-2">
                                    <button ngx-popover-close class="btn">Close</button>
                                  </div>
                                </div>
                              </ng-template>
                              <ngx-arrow padding="8" />
                            </ngx-popover>
                          </p>
                        </li>
                        <li
                          [ngClass]="{'text-highlight' : validateExperiment && validateExperiment.filters.constraints.over_distance.length >0 }">
                          <p>Maximum travel distance is
                            <ngx-popover [placement]="'bottom-start'"><button
                                class="link link-primary link-opacity-75-hover">{{constraintsData.maximumTravelDistance}}
                                KM.</button>
                              <ng-template ngx-popover-template>
                                <div class="card p-3">
                                  <div class="card-body p-2">
                                    <p class="card-title">Maximum travel
                                      distance
                                      : </p>
                                    <app-number-counter-input
                                      [(ngModel)]="constraintsData.maximumTravelDistance"
                                      [maxValue]="1200" [minValue]="0"></app-number-counter-input>
                                  </div>
                                  <div
                                    class="popover__controls d-flex justify-content-end mt-2">
                                    <button ngx-popover-close class="btn">Close</button>
                                  </div>
                                </div>
                              </ng-template>
                              <ngx-arrow padding="8" />
                            </ngx-popover>
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>

                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>Customer</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul class="list-unstyled">
                    <li>
                      <ul>
                        <li>
                          <p>Service duration time is
                            <ngx-popover [placement]="'bottom-start'"><button
                                class="link link-primary link-opacity-75-hover">{{constraintsData.serviceDurationTime
                                | timeFormat}}</button>
                              <ng-template ngx-popover-template>
                                <div class="card p-3">
                                  <div class="card-body p-2">
                                    <p class="card-title">Service duration time
                                      : </p>

                                    <ngb-timepicker
                                      [(ngModel)]="constraintsData.serviceDurationTime" />
                                  </div>
                                  <div
                                    class="popover__controls d-flex justify-content-end mt-2">
                                    <button ngx-popover-close class="btn">Close</button>
                                  </div>
                                </div>
                              </ng-template>
                              <ngx-arrow padding="8" />
                            </ngx-popover>
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>

                </mat-expansion-panel>
              </mat-accordion>

              <div class="row mt-4">
                <div class="col text-start">
                  <button mat-raised-button
                    class="bg-custom-secondary"
                    (click)="setParameterDefault()">Set Default</button>
                </div>
                <div class="col text-end">
                  <button mat-raised-button color="secondary"
                    class="btn btn-secondary" (click)="navigateToTab(1)">Back</button>
                  <button mat-raised-button class="bg-custom-primary"
                    (click)="validateExperimentPreOrder()">Validate</button>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3"
          [disabled]="!isUpload || validateExperiment == null">
          <button ngbNavLink><h3>Validation</h3></button>
          <ng-template ngbNavContent>
            <div style="min-height: 720px;">
              <div class="row mt-4">
                <div class="col-md-12">
                  @if(validateExperiment &&
                  (validateExperiment.filters.constraints.over_weight.length > 0
                  || validateExperiment.filters.constraints.over_distance.length
                  >0 ||
                  validateExperiment.filters.order_data.invalid_coordinate.length
                  > 0 || validateExperiment.warning.zero_weight.length > 0)){
                  <ngb-alert type="info" [dismissible]="false">
                    <strong class="h-2">Information!</strong> If you do not
                    change
                    or adjust the order data or the parameters of the
                    constraints, please proceed to plan your route. <strong
                      class="text-dark font-weight-bold">The validation process
                      will filter and eliminate any invalid order data</strong>
                    before the AI service can continue with route planning.
                  </ngb-alert>
                  <p class="h-2 text-uppercase">filter and eliminate any invalid
                    order data</p>
                  }
                  <!-- validate -->

                  @if(validateExperiment &&
                  validateExperiment.filters.constraints.over_distance.length >0
                  && isValidateShowMessage.validate.overDistance){
                  <ngb-alert type="danger"
                    (closed)="isValidateShowMessage.validate.overDistance = false">
                    <strong>{{validateMessage.filtersMessage.constraints.overDistance.title}}</strong>
                    {{validateMessage.filtersMessage.constraints.overDistance.message}}
                    <button
                      type="button"
                      class="link link-primary link-opacity-75-hover"
                      (click)="collapseOverDistance.toggle()"
                      [attr.aria-expanded]="!ngbOverDistanceCollapse"
                      aria-controls="collapseExample">
                      Show details
                    </button>
                  </ngb-alert>
                  <div class="mb-3" #collapseOverDistance="ngbCollapse"
                    [(ngbCollapse)]="ngbOverDistanceCollapse">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr><th scope="col">FILTER TYPE</th>
                            <th scope="col">ORDER ID</th>
                            <th scope="col">QUANTITY</th>
                            <th scope="col">ADDRESS</th>
                            <th scope="col">TAMBOL</th>
                            <th scope="col">AMPHOR</th>
                            <th scope="col">PROVINCE</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let item of validateExperiment.filters.constraints.over_distance">
                            <th scope="row">Over Weight</th>
                            <td>{{(item.metrics!.excess_distance/100) | number:
                              '2.0-2'}} KM.</td>
                            <td>{{item.name}}</td>
                            <td>{{ item.original_address.address | truncate:[70,
                              '...'] }}</td>
                            <td>{{item.original_address.subdistrict}}</td>
                            <td>{{item.original_address.district}}</td>
                            <td>{{item.original_address.province}}</td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  }

                  @if(validateExperiment &&
                  validateExperiment.filters.constraints.over_weight.length > 0
                  && isValidateShowMessage.validate.overWeight){
                  <ngb-alert type="danger"
                    (closed)="isValidateShowMessage.validate.overWeight = false">
                    <strong>{{validateMessage.filtersMessage.constraints.overWeight.title}}</strong>
                    {{validateMessage.filtersMessage.constraints.overWeight.message}}
                    <button
                      type="button"
                      class="link link-primary link-opacity-75-hover"
                      (click)="collapseOverWeight.toggle()"
                      [attr.aria-expanded]="!ngbOverWeightCollapse"
                      aria-controls="collapseExample">
                      Show details
                    </button>
                  </ngb-alert>
                  <div class="mb-3" #collapseOverWeight="ngbCollapse"
                  [(ngbCollapse)]="ngbOverWeightCollapse">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr><th scope="col">FILTER TYPE</th>
                            <th scope="col">ORDER ID</th>
                            <th scope="col">WEIGHT</th>
                            <th scope="col">ADDRESS</th>
                            <th scope="col">TAMBOL</th>
                            <th scope="col">AMPHOR</th>
                            <th scope="col">PROVINCE</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let item of validateExperiment.filters.constraints.over_weight">
                            <th scope="row">Over Weight</th>
                            <td>{{item.metrics?.excess_weight | number: '2.0-2'}}
                              KG.</td>
                            <td>{{item.name}}</td>
                            <td>{{ item.original_address.address | truncate:[70,
                              '...'] }}</td>
                            <td>{{item.original_address.subdistrict}}</td>
                            <td>{{item.original_address.district}}</td>
                            <td>{{item.original_address.province}}</td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  }
                  @if(validateExperiment &&
                  validateExperiment.filters.order_data.invalid_coordinate.length
                  > 0 && isValidateShowMessage.validate.invalidCoordinate){
                  <ngb-alert type="danger"
                    (closed)="isValidateShowMessage.validate.invalidCoordinate= false">
                    <strong>{{validateMessage.filtersMessage.orderData.invalidCoordinate.title}}
                    </strong>
                    {{validateMessage.filtersMessage.orderData.invalidCoordinate.message}}
                    <button
                    type="button"
                    class="link link-primary link-opacity-75-hover"
                    (click)="collapseUnverify.toggle()"
                    [attr.aria-expanded]="!ngbUnverifyCollapse"
                    aria-controls="collapseExample">
                    Show details
                  </button>
                </ngb-alert>
                <div class="mb-3" #collapseUnverify="ngbCollapse"
                [(ngbCollapse)]="ngbUnverifyCollapse">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr><th scope="col">FILTER TYPE</th>
                            <th scope="col">ORDER ID</th>
                            <th scope="col">ADDRESS</th>
                            <th scope="col">TAMBOL</th>
                            <th scope="col">AMPHOR</th>
                            <th scope="col">PROVINCE</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of validateDataTable"
                            (click)="openCustomerOrderDetails(item)"
                            style="cursor: pointer;">
                            <th scope="row">Unverify coordinate</th>
                            <td>{{item.name}}</td>
                            <td>{{ item.original_address.address | truncate:[70,
                              '...'] }}</td>
                            <td>{{item.original_address.subdistrict}}</td>
                            <td>{{item.original_address.district}}</td>
                            <td>{{item.original_address.province}}</td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="d-flex justify-content-between p-2">
                      <ngb-pagination
                        [collectionSize]="ngbValidationTableCollectionSize"
                        [(page)]="page"
                        [pageSize]="pageSize"
                        (pageChange)="refreshValidationTable()">
                      </ngb-pagination>
                    </div>
                  </div>
                  }

                  @if(validateExperiment &&
                  validateExperiment.warning.zero_weight.length > 0){

                  <p class="h-2 text-uppercase">Order data</p>
                  <ngb-alert [dismissible]="false">
                    <strong>{{validateMessage.warningMessage.zeroWeight.title}}
                    </strong>
                    {{validateMessage.warningMessage.zeroWeight.message }}<a
                      target="_blank" [routerLink]="['/users/inventories']"
                      class="link link-primary link-opacity-75-hover">direct to
                      inventory.</a>
                  </ngb-alert>
                  }
                </div>
                <div class="col text-end">
                  <button mat-raised-button color="secondary"
                    class="btn btn-secondary" (click)="navigateToTab(1)">Back</button>
                  <button mat-raised-button class="bg-custom-primary"
                    (click)="routePlanning()" >Plan My Route</button>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </div>

    <div class="col-md-5" [hidden]="!isUpload">
      <div class="row">

        <div id="map" class="map col-12" style="min-height: 850px;"></div>
        <div id="popup" class="ol-popup" [hidden]="popupContent?.isDepot">
          <button (click)="closePopupMapShow()" id="popup-closer"
            class="ol-popup-closer btn btn-link"></button>
          <div id="popup-content" class="row justify-content-end mt-2"
            *ngIf="popupContent">
            <p class="d-inline-block text-truncate" style="max-width: 300px;">
              <strong>Address :</strong>
              {{popupContent.data.original_address.address}}</p>
            <p class="d-inline-block text-truncate" style="max-width: 300px;">
              <strong>Tumbol :</strong>
              {{popupContent.data.original_address.subdistrict}}</p>
            <p class="d-inline-block text-truncate" style="max-width: 300px;">
              <strong>Aumpher :</strong>{{popupContent.data.original_address.district}}
            </p>
            <p class="d-inline-block text-truncate" style="max-width: 300px;">
              <strong>Province :</strong>{{popupContent.data.original_address.province}}
            </p>

          </div>
          <button class="float-right" mat-raised-button
            class="bg-custom-primary"
            (click)="openCustomerOrderDetails(popupContent!.data)">Details
          </button>
        </div>
        <!-- <div class="col-md-12">
          <div class="row">
            <div class="col-sm-2 col-6 pl-sm-1 pb-2">
              <img src="assets/image/depot.png" alt="icon">
              <small class="ml-1">Depot(Warehouse)</small>
          </div>
          <div class="col-sm-2 col-6 pb-2">
              <img src="assets/image/edit.png" alt="icon">
              <small class="ml-1">Edit location</small>
          </div>
          <div class="col-sm-2 col-6 pb-2">
            <img src="assets/image/verify.png" alt="icon">
            <small class="ml-1">verify location</small>
        </div>
        <div class="col-sm-2 col-6 pb-2">
          <img src="assets/image/uncertain.png" alt="icon">
          <small class="ml-1">Uncertain location</small>
      </div>
      <div class="col-sm-2 col-6 pb-2">
        <img src="assets/image/unverify.png" alt="icon">
        <small class="ml-1">Unverify location</small>
    </div>

          </div>

        </div> -->
      </div>

    </div>
  </div>

</div>