@mixin full-width-table {
  table {
    width: 100%;
  }
}

@mixin striped-rows {
  tr:nth-child(even) {
    background-color: #d6eeee;
  }
}

@mixin icon-alignment {
  mat-icon {
    vertical-align: middle;
  }
}
