body {
  background-color: rgb(184, 118, 118);
}


a:link, a:visited {
  text-decoration: none;

}

.excerpt {
  margin-bottom: 10px;
  max-height: 4.6em;
  overflow: hidden;
  
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  // cursor: pointer;
}
.mat-paginator-sticky {
  bottom: 0px;
  position: relative;
  z-index: 10;
}

.table-container {
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
mat-icon{
  vertical-align: middle;
}

table {
  width: 100%;
}

td , th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}


::ng-deep .table-config-menu {
  position: absolute;
  right: 20px;
  padding: 0;

  /* Label Styling */
  &-label {
    font-weight: bold;
    padding: 10px 15px;
    display: block;
  }

  /* Options Styling */
  &-options {
    display: flex;
    flex-direction: column;

    mat-checkbox {
      label {
        display: block;
        padding: 10px 15px;
        transition: background 0.3s ease;

        &:hover {
          background: rgba(155, 213, 239, 0.7);
        }

        &:active {
          background: rgba(106, 192, 231, 0.7);
        }
      }
    }
  }
}

.full-width {
  font-size: 14px;
  width: 100%;
}

.hover-row:hover {
  background-color: #f5f5f5; /* Change this to your desired hover color */
  // cursor: pointer; /* Optional: change cursor to pointer */
}
.custom-icon-button {
  border-radius: 0; /* Removes the circular border */
  padding: 0; /* Adjust padding if needed */
  width: auto; /* Adjust width if needed */
  height: auto; /* Adjust height if needed */
}

.text-table-container {
  width: 50%;
  margin: 0 auto; /* Horizontal centering */
  text-align: center;
  margin-top: 350px;
}
