<ng-container *transloco="let t; read: 'index'">
  <div
    id="vehicle-type-dialog"
    [class.is-loading]="isLoading"
    class="p-3 position-relative"
  >
    <div
      *ngIf="isLoading"
      class="d-flex flex-column align-items-center justify-content-center position-absolute top-0 start-0 w-100 h-100 bg-white"
      style="z-index: 10"
    >
      <mat-spinner diameter="40"></mat-spinner>
      <p class="mt-3 text-secondary small">
        {{ t("loading_vehicle_type_data") }}
      </p>
    </div>

    <div *ngIf="!isLoading" class="w-100 h-100">
      <div class="modal-header border-0 pb-2">
        <h1 class="fw-bold h4 modal-title">
          {{
            isViewMode
              ? t("view_vehicle_type")
              : isEdit
              ? t("edit_vehicle_type")
              : t("add_vehicle_type")
          }}
        </h1>
      </div>

      <div class="modal-body pb-0">
        <form [formGroup]="formVehicleType">
          <div class="row g-4">
            <div
              class="form-group-section1 col-12 col-lg-5 d-flex flex-column gap-3"
            >
              <div>
                <app-input-field
                  [placeholder]="'name' | transloco"
                  [control]="formVehicleType.controls.name"
                  [required]="true"
                  [disabled]="isViewMode"
                ></app-input-field>
              </div>

              <div class="mb-4">
                <label class="form-label">{{ t("access_points") }}</label>
                <div class="row">
                  <div class="col-6" *ngFor="let option of accessPointOptions">
                    <mat-checkbox
                      [checked]="isAccessPointCheckedString(option.key)"
                      (change)="onAccessPointChangeString($event, option.key)"
                      [disabled]="isViewMode"
                    >
                      {{ option.value | titlecase }}
                    </mat-checkbox>
                  </div>
                </div>
                <mat-error
                  *ngIf="
                    formVehicleType.get('access')?.hasError('minlength') &&
                    formVehicleType.get('access')?.touched
                  "
                >
                  {{ t("please_select_at_least_one_access_point") }}
                </mat-error>
              </div>

              <div>
                <app-input-field
                  [placeholder]="t('capacity')"
                  type="number"
                  [control]="formVehicleType.controls.capacity"
                  [disabled]="isViewMode"
                  [required]="true"
                ></app-input-field>
              </div>

              <div>
                <app-dynamic-popover [placement]="'bottom-start'">
                  <app-input-field
                    popover-trigger="popover-trigger"
                    [placeholder]="t('start_time')"
                    [control]="formVehicleType.controls.twEarly"
                    [disabled]="isViewMode"
                    [readonly]="true"
                    suffixIcon="access_time"
                  ></app-input-field>

                  <div popover-content="popover-content">
                    <div class="card-body p-2">
                      <p class="card-title">{{ t("tw_early") }}</p>
                      <ngb-timepicker
                        [(ngModel)]="twEarlyObject"
                        [ngModelOptions]="{ standalone: true }"
                        (ngModelChange)="onTimeValueChange('twEarly', $event)"
                        [readonly]="isViewMode"
                      ></ngb-timepicker>
                    </div>
                  </div>
                </app-dynamic-popover>
              </div>

              <div>
                <app-dynamic-popover [placement]="'bottom-start'">
                  <app-input-field
                    popover-trigger="popover-trigger"
                    [placeholder]="t('end_time')"
                    [control]="formVehicleType.controls.twLate"
                    [disabled]="isViewMode"
                    [readonly]="true"
                    suffixIcon="access_time"
                  ></app-input-field>

                  <div popover-content="popover-content">
                    <div class="card-body p-2">
                      <p class="card-title">{{ t("tw_late") }}</p>
                      <ngb-timepicker
                        [(ngModel)]="twLateObject"
                        [ngModelOptions]="{ standalone: true }"
                        (ngModelChange)="onTimeValueChange('twLate', $event)"
                        [readonly]="isViewMode"
                      ></ngb-timepicker>
                    </div>
                  </div>
                </app-dynamic-popover>
              </div>
            </div>

            <div
              class="form-group-section2 col-12 col-lg-7 d-flex flex-column gap-3"
            >
              <div class="position-relative">
                <label
                  class="dimensions-label position-absolute start-0 end-0 text-center w-100"
                  style="top: -1.5rem"
                  >{{ t("dimensions") }}</label
                >
                <div class="row g-2 units-wrapper">
                  <div class="col-sm-4">
                    <app-input-field
                      [placeholder]="'width' | transloco"
                      type="number"
                      [control]="formVehicleType.controls.width"
                      [suffix]="'cm' | transloco"
                      [disabled]="isViewMode"
                      [required]="true"
                      [decimal]="3"
                    ></app-input-field>
                  </div>
                  <div class="col-sm-4">
                    <app-input-field
                      [placeholder]="'height' | transloco"
                      type="number"
                      [control]="formVehicleType.controls.height"
                      [suffix]="'cm' | transloco"
                      [disabled]="isViewMode"
                      [required]="true"
                      [decimal]="3"
                    ></app-input-field>
                  </div>
                  <div class="col-sm-4">
                    <app-input-field
                      [placeholder]="'length' | transloco"
                      type="number"
                      [control]="formVehicleType.controls.length"
                      [suffix]="'cm' | transloco"
                      [disabled]="isViewMode"
                      [required]="true"
                      [decimal]="3"
                    ></app-input-field>
                  </div>
                </div>
              </div>

              <div>
                <app-input-select
                  [placeholder]="t('vehicle_profile_type')"
                  [options]="vehicleProfileTypeOptions"
                  [control]="formVehicleType.controls.vehicleProfileType"
                  [disabled]="isViewMode"
                  idAttribute="key"
                ></app-input-select>
              </div>

              <div class="row g-2">
                <div class="col-sm-6">
                  <app-input-field
                    [placeholder]="t('max_distance')"
                    type="number"
                    [control]="formVehicleType.controls.maxDistance"
                    [suffix]="'km' | transloco"
                    [disabled]="isViewMode"
                  ></app-input-field>
                </div>
                <div class="col-sm-6">
                  <app-input-field
                    [placeholder]="t('max_duration')"
                    type="number"
                    [control]="formVehicleType.controls.maxDuration"
                    [suffix]="'hr' | transloco"
                    [disabled]="isViewMode"
                  ></app-input-field>
                </div>
              </div>

              <div class="row g-2">
                <div class="col-sm-6">
                  <app-input-field
                    [placeholder]="t('cost_per_distance')"
                    type="number"
                    [control]="formVehicleType.controls.unitDistanceCost"
                    [decimal]="2"
                    [disabled]="isViewMode"
                  ></app-input-field>
                </div>
                <div class="col-sm-6">
                  <app-input-field
                    [placeholder]="t('cost_per_time_unit')"
                    type="number"
                    [control]="formVehicleType.controls.unitDurationCost"
                    [decimal]="2"
                    [disabled]="isViewMode"
                  ></app-input-field>
                </div>
              </div>

              <div>
                <app-input-field
                  [placeholder]="t('fixed_cost')"
                  type="number"
                  [control]="formVehicleType.controls.fixedCost"
                  [decimal]="2"
                  [disabled]="isViewMode"
                ></app-input-field>
              </div>

              <div class="modal-footer border-0 pt-3 px-0">
                <div class="d-flex gap-2 justify-content-end flex-wrap w-100">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="cancel()"
                  >
                    {{ "cancel" | transloco }}
                  </button>
                  <button
                    *ngIf="!isViewMode"
                    type="button"
                    class="btn btn-primary"
                    (click)="save()"
                  >
                    {{ "save" | transloco }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
