body {
    background-color: rgb(184, 118, 118);
  }
  *{
    font-family: Kanit;
  }
  
  a:link, a:visited {
    text-decoration: none;
  
  }
  
  .excerpt {
    margin-bottom: 10px;
    max-height: 4.6em;
    overflow: hidden;
    
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .mat-expansion-panel-header {
    background-color: rgb(255, 252, 252);
  }
  .mat-expansion-panel p a,.mat-expansion-panel p,.template div a,button.link {
    font-size: 15px;
    user-select: inherit;
    /* display: flex; */
    flex-direction: row;
    font-weight: 500;
}
.mat-expansion-panel p a,button.link {
  border:none;
  border-bottom: 1px dashed rgb(21, 2, 231);
  background:none; 
}
.file-input {
  display: none;
}

.icon-browser {
  font-size: 20px;
}
.icon-upload {
  font-size: 50px;
  height: fit-content;
  width: fit-content;
  color:  rgba(86, 87, 89, 0.726);
  display: inline-flex;

}

.dropzone{
  background-color: rgb(240, 242, 246);
  padding: 20px 0px;
  border-radius: 0.5rem;

}

.mat-mdc-button-base {
  margin: 0px 20px 5px 0;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.fab-success {
  background-color: green;
  color: white;
}

.fab-warning {
  background-color: #ffc107 !important;
  color: white;
}
.fab-danger {
  background-color:  #dc3545 !important;
  color: white;
}