
*:not(mat-icon) {
  font-family: Kanit;
  line-height: 1.25;
}
.map {
  width: 100%;
  height: 300px;
}
.color{
  background:#ebe8eb
}
@media screen and (max-width: 960px) {
  mat-cell:first-of-type,
  mat-footer-cell:first-of-type,
  mat-header-cell:first-of-type {
      padding-left: unset;
  }
  .mat-table {
      border: 0;
      vertical-align: middle
  }
  .mat-table caption {
      font-size: 1em;
  }
  // /*  Enable this to hide header
  // .mat-table .mat-header-cell {
  //   border: 10px solid;
  //   clip: rect(0 0 0 0);
  //   height: 1px;
  //   margin: -1px;
  //   padding: 0;
  //   position: absolute;
  //   width: 1px;
  // }
  // */
  .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      padding-right: 30px;
      font-weight: bold;
      height: 30px;
      margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
      //   * aria-label has no advantage, it won't be read inside a table
      // content: attr(aria-label);
      margin-left: 30px;
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
      border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
      margin-top: 4%;
  }
}
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}