<ng-container *transloco="let t; read: 'vehicle'">
  <div id="vehicle-dialog">
    <h2 mat-dialog-title class="p-0">
      {{ isEdit ? t("edit_vehicle") : t("add_vehicle") }}
    </h2>

    <form [formGroup]="form">
      <app-input-field placeholder="licensePlate" [control]="form.controls.licensePlate"
        [required]="true"></app-input-field>
      <app-input-field placeholder="vehicleName" [control]="form.controls.vehicleName"
        [required]="true"></app-input-field>
      <app-input-field placeholder="vehicleType" [control]="form.controls.vehicleType"
        [required]="true"></app-input-field>
      <app-input-field placeholder="vehicleBrand" [control]="form.controls.vehicleBrand"></app-input-field>
      <app-input-field placeholder="vehicleModel" [control]="form.controls.vehicleModel"
        [required]="true"></app-input-field>
      <app-input-field placeholder="vehicleWeight" type="number" [control]="form.controls.vehicleWeight"
        [required]="true" [suffix]="'t'"></app-input-field>
      <app-input-field placeholder="maxLoadWeight" type="number" [control]="form.controls.maxLoadWeight"
        [required]="true"></app-input-field>
      <app-input-field placeholder="cargoWidth" type="number" [control]="form.controls.cargoWidth" [required]="true"
        [suffix]="'cm'"></app-input-field>
      <app-input-field placeholder="cargoLength" type="number" [control]="form.controls.cargoLength" [required]="true"
        [suffix]="'cm'"></app-input-field>
      <app-input-field placeholder="cargoHeight" type="number" [control]="form.controls.cargoHeight" [required]="true"
        [suffix]="'cm'"></app-input-field>
      <app-input-field placeholder="maxPalletCount" type="number" [decimal]="2" [control]="form.controls.maxPalletCount"
        [required]="true"></app-input-field>

      <app-input-select placeholder="Country" [options]="countryOptions">
      </app-input-select>

      <mat-checkbox formControlName="isActive" class="mt-4">
        {{ t("is_active") }}
      </mat-checkbox>
    </form>

    <mat-dialog-actions align="end">
      <button mat-button (click)="cancel()">
        {{ "cancel" | transloco }}
      </button>
      <button mat-raised-button color="primary" (click)="save()">
        {{ isEdit ? ("update" | transloco) : ("confirm" | transloco) }}
      </button>
    </mat-dialog-actions>
  </div>
</ng-container>