
.dropzone {
    background-color: rgb(240, 242, 246);
    padding: 80px 0px;
    border-radius: 0.5rem;
  
  }

  .icon-upload {
    font-size: 50px;
    height: fit-content;
    width: fit-content;
    color: rgba(86, 87, 89, 0.726);
    display: inline-flex;
  
  }

  .file-input {
    display: none;
  }

  .icon-browser {
    font-size: 20px;
  }
  