
<ng-container *transloco="let t; read: 'vehicle'">
  <div id="vehicle-dialog">
    <h2 mat-dialog-title class="p-0">
      {{ isView ? t("view_vehicle") : (isEditMode ? t("edit_vehicle") : t("add_vehicle")) }}
    </h2>

    <h1 (click)="log()">log</h1>

        <!-- Loading indicator -->
        <div *ngIf="isLoading" class="loading-container">
          <mat-spinner diameter="40"></mat-spinner>
          <p>Loading vehicle types and depots...</p>
        </div>
    

    <!-- Form content -->
    <form [formGroup]="form" class="vehicle-form" *ngIf="!isLoading">
      <app-input-select
        idAttribute="vehicleTypeId"
        valueAttribute="name"
        placeholder="Vehicle Type"
        [options]="vehicleTypeOptions"
        [control]="form.controls.vehicleType"
        [required]="true"
        [disabled]="isView"
      >
      </app-input-select>

      <div class="depot-row">
        <app-input-select
          idAttribute="depotId"
          valueAttribute="depotName"
          placeholder="Start Depot"
          [options]="startDepotOptions"
          [control]="form.controls.startDepot"
          [required]="true"
          [disabled]="isView"
        >
        </app-input-select>

        <app-input-select
          idAttribute="depotId"
          valueAttribute="depotName"
          placeholder="End Depot"
          [options]="endDepotOptions"
          [control]="form.controls.endDepot"
          [required]="true"
          [disabled]="isView"
        >
        </app-input-select>
      </div>

      <!-- License Plate Input for Edit Mode -->
      <div *ngIf="isEditMode || isView" class="license-input-row">
        <app-input-field
          placeholder="License Plate"
          [control]="form.controls.licensePlate"
          [required]="true"
          [disabled]="isView"
        >
        </app-input-field>
      </div>

      <!-- License Plate Input for Add Mode -->
      <div *ngIf="!isEditMode && !isView">
        <div class="license-input-row">
          <app-input-field
            placeholder="License Plate"
            [control]="form.controls.licensePlate"
            class="license-input"
          >
          </app-input-field>

          <button
            mat-raised-button
            color="accent"
            type="button"
            (click)="addLicensePlate()"
            [disabled]="!form.controls.licensePlate.value"
            class="add-button"
          >
            Add
          </button>
        </div>

        <div class="license-list" *ngIf="licensePlates.length > 0">
          <div
            class="license-item"
            *ngFor="let plate of licensePlates; let i = index"
          >
            <div class="license-content">
              <span class="bullet-dot">•</span>
              <span class="license-text">{{ plate }}</span>
            </div>
            <button
              mat-icon-button
              color="warn"
              (click)="removeLicensePlate(i)"
              class="remove-button"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>

    <mat-dialog-actions align="end" class="dialog-actions">
      <button mat-raised-button class="bg-custom-danger" (click)="cancel()">
        Cancel
      </button>
      <button
        *ngIf="!isView"
        mat-raised-button
        color="primary"
        (click)="save()"
      >
        Save
      </button>
    </mat-dialog-actions>
  </div>
</ng-container>
