<ng-container *transloco="let t; read: 'index'">
  <div class="modal-header">
    <h4 class="modal-title">{{ t("overview_routing_plan") }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="depot-details">
      <div class="route-detail" *ngIf="routeInfo">
        <h1>{{ t("route_information") }}</h1>
        <div class="info mb-1">
          <strong class="me-2">{{ t("route_label") }}:</strong>
          <span>{{ routeInfo.routeLabel }}</span>
        </div>
        <div class="info mb-1">
          <strong class="me-2">{{ t("delivery_points") }}:</strong>
          <span>{{ routeInfo.numberDeliveryPoints }}</span>
        </div>

        <ng-container *ngFor="
            let col of [
              'weight',
              'travelDistance',
              'travelDuration',
              'serviceTime'
            ]
          ">
          <div *ngIf="routeInfo[col] !== undefined" class="info mb-1">
            <strong class="me-2">{{ t(col | snakeCase) }}:</strong>

            <ng-container [ngSwitch]="col">
              <span *ngSwitchCase="'weight'">
                <span>{{ routeInfo.weight | number : "1.0-0" }} </span>
                <span>{{ t("kg") }}</span>
              </span>
              <span *ngSwitchCase="'travelDistance'">
                <span>
                  {{ routeInfo.travelDistance | number : "1.0-0" }}
                </span>
                <span>{{ t("km") }}</span>
              </span>
              <span *ngSwitchCase="'travelDuration'">
                <span>
                  {{ routeInfo.travelDuration! / 60 | number : "1.1-2" }}
                </span>
                <span>{{ t("hrs") }}.</span>
              </span>
              <span *ngSwitchCase="'serviceTime'">
                <span>
                  {{ routeInfo.serviceTime! / 60 | number : "1.1-2" }}
                </span>
                <span>{{ t("hrs") }}.</span>
              </span>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <ng-container *ngFor="let d of sortedPointDetails()">
        <mat-card appearance="outlined" class="depot-detail mb-2 clickable-card" (click)="handlePointClick(d)"
          style="cursor: pointer">
          <mat-card-header class="p-2">
            <mat-card-subtitle>
              <strong>{{ t("route_order") }}: </strong>
              <span>{{ d.routeOrder }}</span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <strong>{{ t("order_id") }}: </strong>
              <span class="text-nowrap">{{ d.name }}</span>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <strong>{{ t("weight") }}: </strong>
              <span>
                {{ d.weight | number : "1.2-2" }}
              </span>
              <span>{{ t("kg") }}</span>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </ng-container>
    </div>
    <div id="map-section">
      <div id="modalMap" class="map"></div>
      <div id="popupMapDeatils" class="ol-popup" [ngClass]="{ 'depot-popup': popupContent?.isDepot }">
        <div id="popup-content" class="row justify-content-end" style="font-size: smaller" *ngIf="popupContent">
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.routeLabel">
            <strong>{{ t("route_label") }}:</strong>
            {{ popupContent.routeLabel }}
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.nodeIndex">
            <strong>{{ t("point_index") }} : </strong>
            {{ popupContent.nodeIndex }}
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.routeOrder">
            <strong>{{ t("route_order") }} : </strong>
            {{ popupContent.routeOrder }}
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.name">
            <strong>
              <span>
                {{ popupContent.isDepot ? "DEPOT NAME" : "ORDER ID" }}</span>
              <span> : </span>
            </strong>
            <span>{{ popupContent.name }}</span>
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.numCustomers">
            <strong>{{ t("total_points") }} : </strong>{{ popupContent["numCustomers"] }}
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.distance">
            <strong>{{ t("distance") }} : </strong>
            {{ popupContent.distance | number : "1.2-2" }}
            <span>{{ t("km") }}.</span>
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.duration">
            <strong>{{ t("duration") }} : </strong>
            {{ popupContent["duration"]! / 60 | number : "1.2-2" }}
            <span>{{ "hours" | transloco }}.</span>
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.weight">
            <strong>{{ t("weight") }} : </strong>
            {{ popupContent.weight | number : "1.2-2" }}
            <span>{{ t("kg") }}.</span>
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.zone">
            <strong>{{ t("zone") }} : </strong> {{ popupContent["zone"] }}
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.customers">
            <strong>{{ t("customers") }} : </strong>
            {{ popupContent["customers"]!.join(", ") }}
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.numCustomers">
            <strong>{{ t("total_customers") }} : </strong>
            {{ popupContent.numCustomers }}
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.serviceDuration">
            <strong>{{ t("service_duration") }} : </strong>
            {{ popupContent["serviceDuration"]! / 60 | number : "1.2-2" }}
            <span>{{ t("hrs") }}.</span>
          </p>
          <p class="d-inline-block text-truncate mr-2" *ngIf="popupContent.travelDuration">
            <strong>{{ t("travel_duration") }} : </strong>
            {{ popupContent.travelDuration | number : "1.2-2" }}
            <span>{{ t("km") }}.</span>
          </p>
          <p class="d-inline-block text-truncate mr-2 text-wrap" *ngIf="popupContent.originalAddress?.address">
            <strong>{{ "address" | transloco }} : </strong>
            {{ popupContent["originalAddress"]!["address"] }}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>