<ng-container *transloco="let t; read: 'vehicleManagement'">
  <div id="vehicle-type" class="py-3">
    <div class="row col-12 col-md-10 mx-auto">
      <div class="row p-0">
        <div class="my-4 text-end p-0">
          <button
            mat-raised-button
            class="bg-custom-secondary"
            (click)="openVehicleTypeModal('create')"
          >
            <mat-icon>add</mat-icon>
            <span>{{ "new" | transloco }}</span>
          </button>
        </div>
      </div>

      <div *ngIf="allVehicleTypes.length > 0; else noVehicleTypes">
        <div
          *ngFor="let vehicleType of paginatedVehicleTypes"
          class="card mb-3 shadow-sm"
        >
          <div class="card-body">
            <h2 class="card-title h5 mb-3">
              <strong>{{ vehicleType.name }}</strong>
            </h2>
            <hr />
            <div class="item-details-info d-grid align-items-center">
              <div class="row">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                  <p>
                    <strong>{{ t("dimensions") }}: </strong>
                    <span>{{ vehicleType.dimension.width }} </span
                    ><span>{{ "m" | transloco }}</span> x
                    <span>{{ vehicleType.dimension.height }} </span
                    ><span>{{ "m" | transloco }}</span> x
                    <span>{{ vehicleType.dimension.depth }} </span
                    ><span>{{ "m" | transloco }}</span>
                  </p>
                  <p>
                    <strong>{{ t("capacity") }}: </strong>
                    <span>{{ vehicleType.maximumWeightCapacity | number }} </span>
                    <span>{{ "kg" | transloco }}</span>
                  </p>
                  <p>
                    <strong>{{ t("volume") }}: </strong>
                    <span>{{ vehicleType.maximumVolumeCapacity | number }} </span>
                    <span>{{ "m3" | transloco }}</span>
                  </p>
                  <p>
                    <strong>{{ t("access_points") }}: </strong>
                    <span>{{ vehicleType.access.join(", ") }}</span>
                  </p>
                </div>
                <div class="col-12 col-md-6">
                  <p>
                    <strong>{{ t("max_distance") }}: </strong>
                    <span>{{ vehicleType.maximumDistance | number }} </span>
                    <span>{{ "km" | transloco }}</span>
                  </p>
                  <p>
                    <strong>{{ t("max_duration") }}: </strong>
                    <span>{{ vehicleType.maximumDuration | number }} </span>
                    <span>{{ "min" | transloco }}</span>
                  </p>
                  <p>
                    <strong>{{ t("fixed_cost") }}: </strong>
                    <span>{{
                      vehicleType.fixedCost
                        | currency : "USD" : "symbol" : "1.2-2"
                    }}</span>
                  </p>
                  <p>
                    <strong>{{ t("unit_distance_cost") }}: </strong>
                    <span>{{
                      vehicleType.unitDistanceCost
                        | currency : "USD" : "symbol" : "1.2-2"
                    }}</span>
                    <span>/ {{ "km" | transloco }}</span>
                  </p>
                </div>
              </div>
              <div class="d-flex flex-column gap-2">
                <button
                  mat-raised-button
                  class="bg-custom-success"
                  (click)="openVehicleTypeModal('view', vehicleType)"
                >
                  {{ "details" | transloco }}
                </button>
                <button
                  mat-raised-button
                  class="bg-custom-primary"
                  (click)="openVehicleTypeModal('edit', vehicleType)"
                >
                  {{ "edit" | transloco }}
                </button>
                <button
                  mat-raised-button
                  class="bg-custom-danger"
                  (click)="deleteVehicleType(vehicleType)"
                >
                  {{ "delete" | transloco }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noVehicleTypes>
        <div class="text-center mt-5">
          <p
            class="vh-100 d-flex justify-content-center align-items-center h1 text-muted"
          >
            {{ "no_records_found" | transloco }}
          </p>
        </div>
      </ng-template>

      <div class="d-flex justify-content-center mt-4">
        <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="collectionSize"
          (pageChange)="refreshVehicleTypes()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</ng-container>
